doctype html
html(lang='zh-tw')
	head
		meta(charset='utf-8')
		meta(name='viewport' content='width=device-width, initial-scale=1')
		
		title InkDrop
		
		link(rel='stylesheet' href='/stylesheets/normalize.css')
		link(rel='stylesheet' href='/stylesheets/solarized_dark.css')
		link(rel='stylesheet' href='/stylesheets/inkdrop.css')

		script(src='/javascripts/vendor/modernizr-2.7.1-custom.min.js')

	body
		div(id='main')
			header(id='header')
				h1
					a(href='/') InkDrop
			nav(id='navigation')
				a(href='#/dashboard')
					span Dashboard
				a(href='#/editor')
					span Editor
				a(href='#/settings')
					span Settings
				a(href='#/logout')
					span Logout
			div(id='container')

		script(language='text/template' id='dashboard_template')
			div(class='dashboard')
				h2 Dashboard
				div(class='content')
					div(class='Posts')
						h3 Posts
					div(class='Tags')
						h3 Tags
					div(class='Categories')
						h3 Categories

		script(language='text/template' id='editor_template')
			div(class='editor')
				h2 Editor
				div(class='content')
					div(class='list')
						h3 Article
						h3 Static Page
					div(class='view')
						textarea(class='input')
						div(class='output')

		script(language='text/template' id='settings_template')
			div(class='settings')
				h2 Settings
				div(class='content')
					div(class='account')
						h3 Account
					div(class='blog')
						h3 Blog
					div(class='general')
						h3 General
					div(class='deploy')
						h3 Deploy

		script(src='/javascripts/vendor/jquery-2.0.3.min.js')
		script(src='/javascripts/vendor/underscore-1.5.2.min.js')
		script(src='/javascripts/vendor/backbone-1.1.0.min.js')
		script(src='/javascripts/vendor/markdown-0.6.0-beta1.min.js')
		script(src='/javascripts/vendor/highlight-7.5.pack.js')
		script(src='/javascripts/view.js')
		script(src='/javascripts/model.js')
		script(src='/javascripts/router.js')
		script(src='/javascripts/inkdrop.js')