doctype html
html(lang='zh-tw')
	head
		meta(charset='utf-8')
		meta(name='viewport' content='width=device-width, initial-scale=1')
		
		title InkDrop
		
		link(rel='stylesheet' href='/css/font-awesome-4.0.3.min.css')
		link(rel='stylesheet' href='/css/normalize.css')
		link(rel='stylesheet' href='/css/solarized_dark.css')
		link(rel='stylesheet' href='/css/inkdrop.css')

		script(src='/js/vendor/modernizr-2.7.1-custom.min.js')

	body
		div(id='main')
			header(id='header')
				h1
					a(href='/') InkDrop
			nav(id='navigation')
				a(href='#/dashboard')
					i(class='fa fa-bar-chart-o')
					span Dashboard
				a(href='#/editor')
					i(class='fa fa-pencil-square-o')
					span Editor
				a(href='#/settings')
					i(class='fa fa-cogs')
					span Settings
				a(href='#/logout')
					i(class='fa fa-sign-out')
					span Logout
			div(id='container')

		script(language='text/template' id='dashboard_template')
			div(id='dashboard')
				h2 Dashboard
				div(class='content')
					div(class='Posts')
						h3 Posts
					div(class='Tags')
						h3 Tags
					div(class='Categories')
						h3 Categories

		script(language='text/template' id='editor_template')
			div(id='editor')
				h2 Editor
				div(class='content')
					div(class='list')
						h3 Article
						h3 Static Page
					div(class='view')
						div(class='source')
							pre(class='text_mirror')
							textarea(class='text' spellcheck='false')
						div(class='preview')
							div(class='html')

		script(language='text/template' id='settings_template')
			div(id='settings')
				h2 Settings
				div(class='content')
					div(class='account')
						h3 Account
					div(class='blog')
						h3 Blog
					div(class='general')
						h3 General
					div(class='deploy')
						h3 Deploy

		script(src='/js/vendor/jquery-2.0.3.min.js')
		script(src='/js/vendor/underscore-1.5.2.min.js')
		script(src='/js/vendor/backbone-1.1.0.min.js')
		script(src='/js/vendor/markdown-0.6.0-beta1.min.js')
		script(src='/js/vendor/highlight-7.5.pack.js')
		script(src='/js/inkdrop.js')