html,
button,
input,
select,
textarea {
	color: #222;
}

html {
	font-size: 1em;
	line-height: 1.4;
}

::-moz-selection {
	background: #b3d4fc;
	text-shadow: none;
}

::selection {
	background: #b3d4fc;
	text-shadow: none;
}

hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 1em 0;
	padding: 0;
}

audio,
canvas,
img,
video {
	vertical-align: middle;
}

fieldset {
	border: 0;
	margin: 0;
	padding: 0;
}

textarea {
	resize: vertical;
}

body {
	background-color: #efefef;
}

@page-padding: 0 100px;
@header-height: 75px;

#header {
	padding: @page-padding;
	background-color: #ffffff;
	height: @header-height;
	line-height: @header-height;

	h1 {
		margin: 0;
	}
}

#navigation {
	padding: @page-padding;
	background-color: #f6f6f6;

	a {
		padding-right: 25px;
		display: inline-block;
		height: @header-height;
		line-height: @header-height;
	}
}

#container {
	padding: @page-padding;
}